<h4>First Name: <%= @employee.first_name %></h4>
<h4>Last Name: <%= @employee.last_name %></h4>
<h4>Alias: <%= @employee.alias %></h4>
<h4>Title: <%= @employee.title %></h4>
<h4>Office: <%= @employee.office %></h4>
<h4>Dog ID: <%= @employee.dog_id %></h4>


<%= link_to "Index Page", employees_path %>
